In [1]:
import importlib

import wrds
import pandas as pd
import datetime
import numpy as np
import pickle
from time import time, sleep
import argparse as ap
import sys
import csv
from dateutil.relativedelta import relativedelta
from collections import OrderedDict

db = wrds.Connection()

/Library/Frameworks/Python.framework/Versions/2.7/lib/python2.7/site-packages/psycopg2/__init__.py:144: UserWarning: The psycopg2 wheel package will be renamed from release 2.8; in order to keep installing from binary please use "pip install psycopg2-binary" instead. For details see: <http://initd.org/psycopg/docs/install.html#binary-install-from-pypi>.
  """)

Enter your WRDS username [dan]:dflath19
Enter your password:········
WRDS recommends setting up a .pgpass file.
You can find more info here:
https://www.postgresql.org/docs/9.5/static/libpq-pgpass.html.
Loading library list...
Done

In [ ]:
date = '2015-01-01'

q1 = ("select datadate,gvkey,prccd,tic "
            "from optionm.stdopd2015 "
           "where date == '%s' ") % (tic,datadate)
df = db.raw_sql(q1)

In [4]:
db.describe_table('optionm', 'stdopd2015')

Approximately 13766500 rows in optionm.stdopd2015.

               name  nullable              type
0             secid      True  DOUBLE PRECISION
1              date      True              DATE
2              days      True  DOUBLE PRECISION
3     forward_price      True  DOUBLE PRECISION
4      strike_price      True  DOUBLE PRECISION
5           premium      True  DOUBLE PRECISION
6   impl_volatility      True  DOUBLE PRECISION
7             delta      True  DOUBLE PRECISION
8             gamma      True  DOUBLE PRECISION
9             theta      True  DOUBLE PRECISION
10             vega      True  DOUBLE PRECISION
11          cp_flag      True        VARCHAR(1)